---
layout: default
---
<p>
  So here's the deal. I'm online a bunch; it's what I do. However, I'm not the
  best at posting things online. So, I've decided to fix one with the other.
  Postings of my browsing history in a somewhat curated format. Most of it will
  be what I'm currently looking into, but there will be some random gems in
  there.
<p>
<p>
  Also this is an experiment to host/develop/deploy all within github.
</p>
<div class="posts">
{% for post in site.posts %}
  <a class="post" href="{{ site.baseurl }}{{ post.url }}">
    <p class="post__title">{{ post.date | date: '%B %d, %Y' }}</p>
    {% if post.links %}- {{ post.links }} links{% endif %}
  </a>
{% endfor %}
</div>
