body { margin: 0; }

[m-no-list] { list-style-type: none; }

.editor {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.editor > [ui-ace] {
  flex-grow: 1;
}

.app {
  display: flex;
  height: 100%;
  overflow: hidden;
}
.navigation {
  width: 10rem;
  margin-left: 1ex;
  overflow-y: scroll;
  overflow-x: hidden;
}
.navigation a {
  display: block;
}
.content {
  flex-grow: 1;
}